<template>
  <div class="container">
    <div class="text-center pt-5 pb-3">
      <h1>TUM calendar proxy frontend</h1>
      <h6>Developed by Martin Fink</h6>
    </div>
    <hr>
    <div class="p-3">
      <div class="text-center">
        <h4>How to use this tool</h4>
        <p class="text-block">
          Grab the URL from the TUM Online calendar via the 'Veröffentlichen' button and paste the url (or just the
          query string) in the field below.
        </p>
      </div>

      <form @submit="submit">
        <div class="input-group">
          <input v-model="url" type="text" class="form-control" :class="{'is-invalid': !isValidUrl && url}"
                 placeholder="https://campus.tum.de/tumonlinej/ws/termin/ical?pStud=XXX&pToken=YYYY">
          <div class="input-group-append">
            <button class="btn" :disabled="!isValidUrl"
                    :class="{'btn-outline-secondary': !isValidUrl, 'btn-outline-success': !!isValidUrl}">Convert
            </button>
          </div>
          <div class="invalid-feedback" v-if="!isValidUrl && url">
            <span class="text-danger" v-for="error in errors" :key="error">{{ $t(error) }}<br></span>
          </div>
        </div>
        <small id="emailHelp" class="form-text text-muted">Enter your URL above.</small>
      </form>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'Index',
    components: {},
    data () {
      return {
        url: null,
      }
    },
    mounted () {
    },
    computed: {
      isValidUrl () {
        return this.errors.length === 0
      },
      errors () {
        const errors = []

        try {
          const url = new URL(this.url)

          if (!url.searchParams.has('pStud')) {
            errors.push('index.form.errors.pstud')
          }
          if (!url.searchParams.has('pToken')) {
            errors.push('index.form.errors.ptoken')
          }
        } catch (e) {
          errors.push('index.form.errors.invalid_url')
        }

        return errors
      },
    },
    methods: {
      submit (e) {
        e.preventDefault()

        const url = new URL(this.url)

        const pToken = url.searchParams.get('pToken')
        const pStud = url.searchParams.get('pStud')

        axios.get(`https://calendar.finkmartin.com/api?pStud=${pStud}&pToken=${pToken}`, {
          responseType: 'arraybuffer',
        }).then((response) => {
          const blob = new Blob([response.data], { type: 'application/calendar' })

          // download blob as .ics file
          const link = document.createElement('a')
          link.href = window.URL.createObjectURL(blob)
          link.download = 'cal.ics'
          link.click()
        })
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import '../styles/variables';

  .text-block {
    text-align: justify;
  }
</style>
